/* .App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #f3efe0;
}
.App .card {
  background-color: rgba(71, 27, 53, 0.637);
}
button {
  width: auto;
  background-color: darkorange;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

input {
  width: 35%;
  border-radius: 50px;
  height: 20px;
  border: 2px solid darkorange;
  padding: 0 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
.idTh {
  width: 35%;
}
.FnTh {
  width: 20%;
}
.LnTh {
  width: 20%;
}
.AgTh {
  width: 5%;
}
tr:nth-child(even) {
  background-color: #dddddd;
} */
